body{
    font-family: 'Open Sans', sans-serif;
    margin:0%;
    background-color: rgb(182, 228, 235);
}

.logo {
    background: rgb(58,25,124);
    height: 100px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.filterSection  {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

p {
    font-weight: bold;
}

.chooseCategory {
    border: none;
    height: 5vh;
    border-radius: 10px;
    font-size: 16px;
    margin: 30px;
    text-align: center;
}

#showProducts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    margin-bottom: 13vh;
}

.prodDiv {
    width: 336.31px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}

.prodImg {
    display: flex;
    justify-content: center;
}

img {
    height: 250px;
    margin: 20px;
}

.textDetProd {
    text-align: center;
}

#refresh {
    font-size: 16px;
    border: none;
    padding: 4px 8px;
    border-radius: 10px;
    background-color: rgb(193 63 63);
    height: 5vh;
    color: white;
    font-weight: bold;
}

.btnRefresh {
    margin-right: 35%;
}

.filterSearchProduct {
    visibility: hidden;
    opacity: 0;
    order: 1;
}

#search {
    border: none;
    outline: none;
    padding: 9px 10px 9px 35px;
    font-size: 16px;
    border-radius: 10px;
    background: rgb(255, 255, 255) url("https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png") no-repeat 9px center;
    width: 100px;
    height: 40px;
    transition: all .5s;
}

#search:hover {
    width: 160px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.footer{
    background: #000000;
    bottom: 0;
    width: 100%;
    position: fixed;
    text-align: center;
    color: rgb(255, 255, 255);
}